<%# ログイン機能 %>
<% if user_signed_in? %>
  <li><%= link_to current_user.name, "#", class: "user-nickname" %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>

<h1>ジャンル</h1>
<% if @genre.present? %>
  <ul>
    <% @genre.each do |genre| %>
      <span>genre</span>
      <li><%= genre.name %></li>
      <% unless genre.text.nil? %>
        <p>text</p>
        <li><%= link_to genre.text, genre_tasks_path(genre.id) %></li>
      <% end %>
      <li>
        <%= link_to '編集', edit_genre_path(genre.id) %>
        <%= link_to '削除', genre_path(genre.id), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to '新規投稿', new_genre_path %>