<div class='index-main'>

  <div class='index-top'>
    <% if user_signed_in? %>
      <div class='index-top-user'>
        <div class='user-form'>
          <p><%= link_to current_user.name, "#", class: "user-nickname" %></p> 
        </div>
        <div class='user-form'>
          <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></p>
        </div>
      </div>
    <% else %>
      <div class='index-top-form'>
        <div class='user-form'>
          <p><%= link_to 'ログイン', new_user_session_path, class: "login" %></p>
        </div>
        <div class='user-form'>
          <p><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></p>
        </div>
      </div>
    <%end%>
    <div class='index-top-form'>
      <p>今日の日付: <%= Date.today %></p>
    </div>
    <div class='index-top-form'>
      <% if @genre.present? %>
        <%= link_to '日毎の予定一覧',timers_path %>
      <% end %>
    </div>
  </div>

  <div class='index-middle'>
    <div class='index-middle-form'>
      <p>ジャンル</p>
    </div>
  </div>

  <div class='index-bottom'>
    <div class='index-bottom-frame'>
      <div class='index-bottom-form'>
        <p><%= link_to '新規ジャンルを作成', new_genre_path %></p>
      </div>
      <% if @genre.present? %>
        <% @genre.each do |genre| %>
          <div class='index-bottom-form'>
            <p>
              <%= link_to genre.name, genre_tasks_path(genre.id) %>
              <span class="span-message"><%= link_to '編集', edit_genre_path(genre.id) %></span>
              <span class="span-message"><%= link_to '削除', genre_path(genre.id), method: :delete %></span>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%# ログイン機能 %>
<% if user_signed_in? %>
  <li><%= link_to current_user.name, "#", class: "user-nickname" %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
<% end %>

<h1>ジャンル</h1>
<% if @genre.present? %>
  <ul>
    <% @genre.each do |genre| %>
      <span>genre</span>
      <li>
        <%= link_to '完了', genre_path(genre.id), method: :delete %>
        <%= link_to genre.name, genre_tasks_path(genre.id) %>
      </li>
      <% unless genre.text.nil? %>
        <p>text</p>
        <li><%= genre.text %></li>
      <% end %>
      <li>
        <%= link_to '編集', edit_genre_path(genre.id) %>
        <%= link_to '削除', genre_path(genre.id), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>日付</h2>
<% if @genre.present? %>
  <%= link_to '日付一覧',timers_path %>
<% end %>

<%= link_to '新規投稿', new_genre_path %>