<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <div class="form-wrap">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class='form-header'>
      <h1 class='form-header-text'>Log in</h1>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_area :name, autofocus: true, maxlength:"40" , autocomplete: "name" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="login-btn">
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    </div>
  </div>
<% end %>

<div class="render-devise-footer">
  <%= render "devise/shared/links" %>
</div>