<%# 入力フォーム %>
<%= form_with model: [@genre, @task, @minitask], class: 'form-main', local: true do |f| %>
  <div class='form-wrap'>

    <%# エラーハンドリング %>
    <div class="render-error">
      <%= render "shared/error_message", model: @minitask_timer %>
    </div>

    <div class='form-header'>
      <h1 class='form-header-text'>予定を編集してください</h1>
    </div>

    <div class='form-group'>
      <%= f.label "予定の名前を編集してください"%>
      <%= f.text_area :name, placeholder:"予定の名前"%>
    </div>

    <div class='form-group'>
      <%= f.label "予定の説明を編集してください"%>
      <%= f.text_area :text, placeholder:"予定の説明"%>
    </div>

    <div class='form-group'>
      <%# 日付の入力 %>
      <%= f.label "日付を編集してください" %>
      <%= f.date_field :time %>
    </div>

    <div class='form-btn'>
      <%= f.submit "投稿する"%>
    </div>

  </div>
<% end %>