<h1>ジャンル</h1>

<h2>タスク</h2>
<% unless @task.nil? %>
  <ul>
    <% @task.each do |task| %>
      <% task.genres.each do |genre| %>
        <p><%= genre.user_id %></p>
        <p><%= genre.name%>
      <% end %>
      <p>Task</p>
      <li><%= task.name %></li>
      <% unless task.text.nil? %>
        <span>text</span>
        <li><%= task.text %></li>
      <% end %>
      <li>
        <%= link_to '編集',edit_genre_task_path(@genre.id, task.id ) %>
        <%= link_to '削除', genre_task_path(@genre.id, task.id), method: :delete %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to '新規投稿',new_genre_task_path(@genre.id) %>
