<h1>ジャンル</h1>

<h2>タスク</h2>
<% unless @task.nil? %>
  <ul>
    <% @task.each do |g| %>
      <span>Task</span>
      <li><%= g.name %></li>
      <% unless g.text.nil? %>
        <span>text</span>
        <li><%=  %></li>
      <% end %>
      <%= link_to '編集',edit_genre_task_path(@genre.id, g.id ) %>
      <%= link_to '削除', "#", method: :delete %>
    <% end %>
  </ul>
<% end %>

<%= link_to '新規投稿',new_genre_task_path(@genre.id) %>
