<h1>ジャンル</h1>

<h2>タスク</h2>
<%= @genre.name %>
<% unless @task.nil? %>
  <ul>
    <% @task.each do |task| %>
      <% task.genres.each do |genre| %>
        <% if genre.user_id == current_user.id %>
          <p>Task</p>
          <li><%= link_to task.name, genre_task_minitasks_path(genre.id, task.id) %></li>
          <% unless task.text.nil? %>
            <p>text</p>
            <li><%= task.text %></li>
          <% end %>
          <li>
            <%= link_to '編集',edit_genre_task_path(genre.id, task.id ) %>
            <%= link_to '削除', genre_task_path(genre.id, task.id), method: :delete %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to '新規投稿',new_genre_task_path(@genre.id) %>
