<div class='timer-main'>

  <div class='timer-top'>
    <div class='timer-top-form'>
      <p><%= current_user.name %></p>
    </div>
    <div class='timer-top-form'>
      <p><%= Date.today %></p>
    </div>
    <div class='timer-top-form'>
      <p>タスク数: <%= @times.length %></p>
    </div>
  </div>

  <div class='timer-middle'>
    <div class=timer-middle-form>
      <p><%= link_to '戻る', root_path %></p>
    </div>
    <div class=timer-middle-form>
      <p><%= link_to '今日', today_path %></p>
    </div>
    <div class=timer-middle-form>
      <p><%= link_to '明日', tomorrow_path %></p>
    </div>
  </div>

  <div class='timer-bottom'>
    <% @times.each do |time| %>
      <div class='timer-tasks'>
        <div class='timer-bottom-form'>
          <p><%= time.time %></p>
        </div>
        <div class='timer-bottom-form'>
          <p><%= time.minitask.name %></p>
        </div>
        <div class='timer-bottom-form'>
          <p><%= time.minitask.text%></p>
        </div>
      </div>
    <% end %>
  </div>

</div>