<h1>今日</h1>
<%= link_to '戻る', timers_path %>
<%= link_to '明日', tomorrow_path %>

<% @times.each do |time| %>
<% if Date.today == time.time %>
    <ul>
      <li>タスク</li>
      <li><%= time.time %></li>
      <li><%= time.minitask.name %></li>
      <li><%= time.minitask.text%></li>
    </ul>
  <% end %>
<% end %>