<h1>明日</h1>
<%= link_to '戻る', timers_path %>
<%= link_to '今日', today_path %>

<% @times.each do |time| %>
  <ul>
    <li>タスク</li>
    <li><%= time.time %></li>
    <li><%= time.minitask.name %></li>
    <li><%= time.minitask.text%></li>
  </ul>
<% end %>